/* defaults */
body {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
  margin: 0%;
}

.section {
  padding: 2.5rem 4rem 3rem;
}

a {
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

a:hover {
  color: hsl(176, 68%, 64%);
  transition: 500ms;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
  font-weight: 700;
}

h1 {
  font-size: 1.7rem;
}

h2{
  line-height: 0.5;
}

h3 {
  font-size: 1.4rem;
}

h4{
  margin: 05px auto;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  padding: 0.2rem 0 0.5rem;
}

/* desktop at 1440px screen size */

/* nav bar section */
.menu-section {
  display: flex;
  padding: 3rem 3rem auto;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar ul li {
  display: inline-block;
  margin-left: 1rem;
}

/* top-section */
.top-section img {
  /* margin: 0%; */
  width: 100%;
  max-width: 600px;
  height: auto;
}

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 20px auto auto; */
}

/* resizing top section box */
.top-section > div {
  width: 60%;
}

.top-text {
  font-size: 1rem;
  margin-top: 1rem;
}

.top-btn {
  margin-top: 0.5rem;
  width: 15rem;
  max-width: 80%;
}

button {
  border-radius: 25px;
  background: linear-gradient(50deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  font-family: "Raleway", sans-serif;
  color: hsl(0, 0%, 100%);
  height: 3rem;
  font-weight: 700;
  padding: 0 12px;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(50deg, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
}

/* features section */

.features-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* features box sizing */
.features-item {
  width: 33.33%;
  padding: 2rem 2.5rem;
  text-align: center;
}

.features-item-body {
  margin-top: 2rem;
}

/* productive-section */

.prod-header-text{
  font-size: 2.5rem;
}

.productive-section {
  display: flex;
  align-items: center;
}

.productive-content {
  padding-left: 4.5rem;
}

.productive-section img {
  /* margin: 0%; */
  width: 100%;
  max-width: 600px;
  height: auto;
}

.prod-ptag{
  font-size: 1.25rem;
}

.prod-link {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid  hsl(176, 68%, 64%);;
  color:  hsl(176, 68%, 64%);
}

.prod-link:hover {
  color:  hsl(0, 0%, 100%);
  transition: 600ms;
  border-bottom-color: hsl(0, 0%, 100%);
}

/* testimonial section */
.testimonial-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-item {
  margin-left: 3.5rem;
  flex-basis: 33.33%;
  border-radius: 5px;
  background-color: hsl(219, 30%, 18%);
  box-shadow: 2px 2px 20px 2px hsl(216, 53%, 9%);
  padding: 2.5rem 2rem;
}

.testimonial-item:first-child {
  margin-left: 0;
}

.testimonial-item-reviewer {
  display: flex;
  padding-top: 1rem;
}

.testimonial-item-reviewer img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.testimonial-item-reviewer-text{
  margin-left: 1rem;
}

.testimonial-item-reviewer-text p{
  margin: 0 auto;
}

.quote-img {
  position: relative;
  top: -3.5rem;
  left: -1rem;
  padding: 0%;
  margin: 0%;
}

.test-p{
  margin: auto auto 25px;
}

.test-box1-resize{
  padding: 1rem;
}
/* cta section */

.cta-section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-item {
  position: absolute;
  top: 50px;
  max-width: 800px;
  width: 66.66%;
  min-width: 300px;
  padding: 3.5rem 3rem;
  box-shadow: 2px 2px 30px 2px hsl(216, 53%, 9%);
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
  text-align: center;
}

.cta-form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

input {
  height: 3rem;
  padding-left: 12px;
  border: none;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
}

.input-block {
  width: 80%;
  max-width: 600px;
}

.btn-block {
  width: 20%;
  max-width: 250px;
  margin-left: 1rem;
}

/* footer section  */

.contact-section {
  margin-top: 130px;
  padding: 15rem 4rem 1rem;
  display: grid;
  background-color: hsl(216, 53%, 9%);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "logo logo logo logo" "location contacts links social" "attribution attribution attribution attribution";
}

.contact-info>div,
.contact-info>nav {
  padding: 1rem 2.5rem;
}

.contact-info-logo {
  grid-area: logo;
}

.contact-info-location {
  grid-area: location;
}

.contact-info-contacts-item,
.contact-info-location-item {
  display: flex;
}

footer p {
  padding: 0;
}

.img-footer {
  margin-right: 1rem;
  width: 18px;
  height: 18px;
  line-height: 1.5;
}

.contact-text{
  margin: 0% auto;
}

.contact-info-contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info-contacts-item:first-child {
  margin-bottom: 2rem;
}

.contact-info-links {
  grid-area: links;
  display: flex;
  justify-content: center;
}

.contact-info-links-list:first-child {
  margin-right: 2.5rem;
}

.contact-info-links-list li {
  margin-bottom: 1.5rem;
}

/* social section */

.contact-info-social-links {
  display: flex;
  justify-content: flex-end;
  grid-area: social;
}

.contact-info-social-link-item {
  margin-left: 1rem;
  height: 30px;
  width: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* collaboration section */

.collaboration-container {
  grid-area: attribution;
}

.collaboration {
  font-size: 11px;
  text-align: center;
}

.collaboration a {
  color: hsl(228, 45%, 44%);
}

/* mobile 375px screen size stying */
@media (max-width: 375px) {
  
  /* resizing container boxes */
  section {
    padding: 2.5rem 2rem;
  }

  /* cta section resizing */
  .cta-item {
    min-width: 50%;
    max-width: 70%;
  }

  /* separating the footer section */
  .contact-info {
    padding: 25rem 3rem 1rem;
  }
}


/* tablet /Ipad  screen size stying */
@media (max-width: 1024px) {
  menu-section {
    padding: 2.5rem 2rem;
  }
  header img,
  footer img {
    width: 117px;
    height: auto;
  }
  section {
    padding: 2.5rem 2rem;
  }
  .top-section>div,
  .features-item {
    width: 100%;
  }
  .testimonial-section,
  .productive-section {
    flex-direction: column;
  }
  /* features section */
  .features-item {
    padding: 2rem 0;
  }

  /* productive section */
  .productive-content {
    margin-top: 2rem;
    padding: 0;
  }

  /* testimonial section */
  .test-box1-resize{
  padding: 2rem;
  }
  .testimonial-item {
    margin-left: 0;
    margin-top: 3.5rem;
    width: 80%;
  }

  /* cta section */
  .cta-item {
    width: 80%;
    padding: 2.5rem 2rem;
  }
  .cta-form {
    flex-direction: column;
  }
  .input-block {
    max-width: 100%;
    width: auto;
  }
  .btn-block {
    max-width: 100%;
    width: auto;
    min-width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }

  /* footer section */
  .contact-section {
    padding: 20rem 3rem 1rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "logo" "location" "contacts" "links" "social" " attribution";
  }
  .contact-section>div,
  .contact-section>nav {
    padding: 1rem 0;
  }
  .contact-info-contacts {
    align-items: flex-start;
  }
  .contact-info-links {
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-info-links-list:first-child {
    margin-bottom: 1rem;
  }
  .contact-info-social-links {
    justify-content: center;
  }
}
